<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <title>Totodile</title>
</head>
<body>
    <div class="center">todolist da deepweb</div>
  <div class="center"> 
    {{ pessoa.id }} - {{pessoa.tarefa}} 
    <form class="col s12" action="{% url 'atualizar' pessoa.id %}" method="POST">
       <div class="row">
                {% csrf_token %}
                <input class="center" type="text" name="tarefas" value="{{pessoa.tarefa}}">
                <button type="submit">Atualizar status</button>
            </div>
       </div> 
    </form>
  </div> 




</body>
</html>